/* This css it to have th ebackground image stay still while scrolling and take up the whole screen */
body{ 
    background-image:url("./photo-1487621167305-5d248087c724.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* this sizes the main box of the page to make sure it is always properly scaled  */
#mainBox{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color: orange;
    font-size: large;
    
}

/* gives images a rounded border for style while keeping them scaled inside the main box */
.image{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1.5rem;
    border: 1px solid black;
}